
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>BeerPong Champions</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/account_view.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="{% static 'images/wave.png' %}">
    <div class="container">
        <div class="img">
{#            <img src="{% static '/images/undraw_Beer_celebration_cefj.svg' %}">#}
            <img src="{{ player.profile_pic.url }}">
        </div>
        <div class="login-content">
            <div class="profile">



                <h2 class="title">{{ player.name.capitalize }}</h2>
                <div class="input-div one">
                    <div class="level">
                        <div class="value">
                            <p> {{ player.player_level }}</p>

                            <img src="{{ graphic }}">
                        </div>
                        <div class="description">
                            LEVEL
                        </div>
                    </div>
                    <div class="points">
                        <div class="value">
                            <div>
                                {{ player.points }}
                            </div>

                        </div>
                        <div class="description">
                            RANKING POINTS
                        </div>
                    </div>

                </div>

                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="Account Settings">
                </form>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="{% static '/js/account_view.js' %}"></script>
</body>
</html>