{% extends 'championship/main.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css'%}">
{% endblock %}


{% block content %}
<div class="grid">
    <a class="circle" style="display:block" href="#">
        <p class="text">Blank</p>

    </a>
    <a class="circle" style="display:block" href="{% url 'leaderboard' %}">
        <div class="text">
            <p>Leader Board</p>
        </div>
    </a>
    <a class="circle" style="display:block" href="#">
        <div class="text">
            <p>Blank</p>
        </div>
   </a>

    <div class="break"></div> <!-- break row-->
    <a class="circle" style="display:block" href="#">
        <div class="text">
            <p>Upcoming Events</p>
        </div>
    </a>
    <a class="circle" style="display:block" href="#">
        <div class="text">
            <p>Players</p>
        </div>
    </a>

    <div class="break"></div> <!-- break row-->

    <a class="circle" style="display:block" href={% url 'login' %}>
        <div class="text">
            <p>Your Profile</p>
        </div>
    </a>
</div>


{% endblock %}