{% extends 'championship/main.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/leaderboard.css'%}">
{% endblock %}

{% block script %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="{% static '/js/leaderboard.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="lboard_section">
            <div class="lboard_tabs">
                <div class="tabs">
                    <ul>
                        <li id="choice" class="active" data-li="BestPlayers">Best Players</li>
                        <li id="dropdown" data-li="Top Players in Division" onmouseover="myFunction()" onmouseout="fun2()">Top in Division

                                <ul class="dropdown-content">
                                    <li id="choice" data-li="Amateur">Amateur</li>
                                     <li id="choice" data-li="Inter">Intermediate</li>
                                     <li id="choice" data-li="Prof">Professional</li>
                                     <li id="choice" data-li="WrdClass">World Class</li>
                                     <li id="choice" data-li="Champ">Champion</li>
                                </ul>

                        </li>
                    </ul>
                </div>

            </div>
            <div id="lboard" class="lboard_wrap">
                <div class="lboard_item BestPlayers" style="display: block;">
                {% for leader in leaders %}
                    <div class="lboard_mem">
                        <div class="img">
                            <img src="{{ leader.profile_pic.url }}">

                        </div>
                        <div class="name_bar">
                            <p><span>{{ forloop.counter }}.</span>{{ leader.name }}</p>
                            <div class="bar_wrap">
                                <div class="inner_bar" style="width: {{ leader.p_points }}%"></div>
                            </div>
                        </div>
                        <div class="points">
                            {{ leader.points }} points
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="lboard_item Amateur" style="display: none;">
                {% for amateur in top_amateurs %}
                    <div class="lboard_mem">
                        <div class="img">
                            <img src="{{ amateur.profile_pic.url }}">

                        </div>
                        <div class="name_bar">
                            <p><span>{{ forloop.counter }}.</span>{{ amateur.name }}</p>
                            <div class="bar_wrap">
                                <div class="inner_bar" style="width: {{ amateur.p_points }}%"></div>
                            </div>
                        </div>
                        <div class="points">
                            {{ amateur.points }} points
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="lboard_item Inter" style="display: none;">
                {% for inter in top_intermediate %}
                    <div class="lboard_mem">
                        <div class="img">
                            <img src="{{ inter.profile_pic.url }}">

                        </div>
                        <div class="name_bar">
                            <p><span>{{ forloop.counter }}.</span>{{ inter.name }}</p>
                            <div class="bar_wrap">
                                <div class="inner_bar" style="width: {{ inter.p_points }}%"></div>
                            </div>
                        </div>
                        <div class="points">
                            {{ inter.points }} points
                        </div>
                    </div>
                {% endfor %}
                </div>

               <div class="lboard_item Prof" style="display: none;">
                {% for prof in top_professional %}
                    <div class="lboard_mem">
                        <div class="img">
                            <img src="{{ prof.profile_pic.url }}">
                        </div>
                        <div class="name_bar">
                            <p><span>{{ forloop.counter }}.</span>{{ prof.name }}</p>
                            <div class="bar_wrap">
                                <div class="inner_bar" style="width: {{ prof.p_points }}%"></div>
                            </div>
                        </div>
                        <div class="points">
                            {{ prof.points }} points
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="lboard_item WrdClass" style="display: none;">
                {% for wrd in top_wrld_class %}
                    <div class="lboard_mem">
                        <div class="img">
                            <img src="{{ wrd.profile_pic.url }}">
                        </div>
                        <div class="name_bar">
                            <p><span>{{ forloop.counter }}.</span>{{ wrd.name }}</p>
                            <div class="bar_wrap">
                                <div class="inner_bar" style="width: {{ wrd.p_points }}%"></div>
                            </div>
                        </div>
                        <div class="points">
                            {{ wrd.points }} points
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="lboard_item Champ" style="display: none;">
                {% for champ in top_champion %}
                    <div class="lboard_mem">
                        <div class="img">
                            <img src="{{ champ.profile_pic.url }}">
                        </div>
                        <div class="name_bar">
                            <p><span>{{ forloop.counter }}.</span>{{ champ.name }}</p>
                            <div class="bar_wrap">
                                <div class="inner_bar" style="width: {{ champ.p_points }}%"></div>
                            </div>
                        </div>
                        <div class="points">
                            {{ champ.points }} points
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>


        </div>

    </div>
{% endblock %}

